//Fonts
$font-main:  "Raleway", sans-serif;
$font-accent:  "Playfair", serif;
$font-secondary:  "Roboto", sans-serif;

//Colors
$dark: #282829;
$footer-bg: #222222;

$accent: #38535D;
$white: #FFFFFF;

$placeholder: #BEBEBE;

// $muted:#E7E7E7;

//Media
$tablet: 1200px;
$phone: 992px;
$phoneMin: 768px;